<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <script type="text/x-template" id="login-page">
      <div
        class="h-screen bg-white flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
      >
        <div class="max-w-md w-full space-y-8">
          <div>
            <img
              class="mx-auto h-12 w-auto"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
              alt="Workflow"
            />
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
              {{title}}
            </h2>
          </div>
          <div v-if="loginError" class="alert alert-error shadow-lg">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span>Wrong username or password</span>
            </div>
          </div>
          <form v-on:submit="login" class="mt-8 space-y-6" action="#" method="POST">
            <input type="hidden" name="remember" value="true" />
            <div class="rounded-md shadow-sm -space-y-px">
              <div>
                <label for="username" class="sr-only">Username</label>
                <input
                  id="username"
                  name="username"
                  type="text"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Username"
                  v-model="username"
                />
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="current-password"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Password"
                  v-model="password"
                />
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                  class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
                />
                <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                  Remember me
                </label>
              </div>

              <div class="text-sm">
                <a
                  href="#"
                  class="font-medium text-clifford-600 hover:text-indigo-500"
                >
                  Forgot your password?
                </a>
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="group relative w-full flex items-center justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <!-- Heroicon name: solid/lock-closed -->
                  <svg
                    class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
                <svg v-if="loadingLogin" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                </svg>
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="setup-page">
      <div class="h-screen w-full overflow-hidden">
        <div class="flex flex-row h-full">
          <div class="basis-1/3 p-4">
            <div class="flex justify-between flex-col h-full">
              <ul class="steps steps-vertical w-full">
                <li
                  v-for="(item, index) in stepList"
                  v-bind:data-content="step > index + 1? '✓': '●'"
                  class="step"
                  :class="{'step-primary': step >= index + 1}">
                  {{item}}
                </li>
              </ul>
              <div class="mt-auto help p-2">
                <div class="flex items-center cursor-pointer">
                  <img class="help-icon" :src="helpIconUrl" alt="help icon">
                  <p class="ml-2">Help</p>
                </div>
              </div>
            </div>
          </div>
          <div class="basis-2/3 bg-white p-4 overflow-auto">
            <agreement v-if="step === 1"></agreement>
            <frp-config v-if="step === 2"></frp-config>
            <scan-ip v-if="step === 3"></scan-ip>
            <status-summarize v-if="step === 4"></status-summarize>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="agreement">
      <div class="flex flex-col justify-between h-full">
        <div class="space-y-2 p-4 border rounded-lg text-gray-600 overflow-auto agreement" id="agreement-area">
          <p v-for="item in lorems">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsa accusamus magnam soluta amet corrupti laborum, et consectetur necessitatibus animi illum at distinctio fuga odio esse consequuntur quos voluptatum expedita.</p>
        </div>
        <div class="flex justify-end items-center">
          <button
            class="btn w-36"
            :class="{'btn-disabled': !isBottom, 'text-gray-400': !isBottom, 'btn-primary': isBottom}"
            v-on:click="nextStep">
            Next
          </button>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="frp-config">
      <div class="flex flex-col justify-between h-full">
        <div class="p-4">
          <div
            class="bg-gray-100 w-full rounded-lg frp-tutorial bg-cover bg-no-repeat bg-center"
            v-bind:style="frpTutorialStyle" />
          <div v-if="process >= 1" class="mt-4">
            <progress class="progress w-full h-4 progress-primary" :value="process" max="100"></progress>
            <div>~ {{getTextStep(process)?.title ?? prevTitle}}</div>
          </div>
        </div>
        <div class="flex justify-between items-center px-4">
          <p class="m-0 underline text-blue-400 cursor-pointer" v-on:click="backStep">Back</p>
          <div class="space-x-4">
            <button class="btn btn-primary w-36" v-on:click="connect">Connect</button>
            <button class="btn btn-primary w-36" :class="{'btn-disabled text-gray-400': !connected}" v-on:click="nextStep">
              Next
            </button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="scan-ip">
      <div class="flex flex-col justify-between h-full scan-ip text-black relative">
        <div class="space-y-2 p-4">
          <h2 class="text-2xl font-semibold">Internal network scan</h2>
          <!-- <p class="text-gray-600 text-sm">Select the cameras you would like to add to system <span class="font-semibold">(0/16)</span></p> -->
          <div v-if="loading" class="flex items-center justify-center p-4 rounded-lg" :style="{'background-color': '#fbfbfb'}">
            <div class="loader animate-spin"></div>
            <span class="ml-4 text-sm">Scaning camera. This action can take up to 20 seconds ....</span>
          </div>
          <!-- <div v-if="!loading" class="viact-camera text-sm" :style="{'margin-bottom': '1.785rem'}">
            <div class="flex flex-row justify-between items-center mb-4">
              <p class="font-semibold">Viact cameras</p>
              <p class="cursor-pointer text-blue-400">Select all</p>
            </div>
            <div class="grid grid-cols-3 gap-4 camera-item cursor-pointer">
              <div class="bg-zinc-300 flex flex-row items-center justify-center img rounded-lg">
                <img src="./assets/images/padlock.png" alt="padlock">
              </div>
              <div class="col-span-2">
                <div class="flex flex-col justify-center h-full">
                  <p class="ip font-semibold text-base mb-2">192.168.1.1</p>
                  <div class="name">
                    <span>002154FDSAF</span> -
                    <span>Viact-JKL2</span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- v-if="!loading" -->
          <div class="other-camera text-sm">
            <div class="flex flex-row justify-between items-center mb-4">
              <p class="font-semibold">3rd party cameras</p>
              <div class="flex items-center justify-end flex-row">
                <div class="bulk-auth">
                  <label
                    for="bulk-auth-modal"
                    class="cursor-pointer text-blue-400">
                    Bulk Authenticate
                  </label>
                  <input type="checkbox" id="bulk-auth-modal" class="modal-toggle">
                  <div class="modal modal-middle">
                    <div class="modal-box w-5/12">
                      <h3 class="font-bold text-lg text-white">Add a username and password.</h3>
                      <div class="py-4 space-y-4">
                        <input
                          type="text"
                          placeholder="Username"
                          class="input input-bordered w-full text-white">
                        <input
                          type="password"
                          placeholder="Password"
                          class="input input-bordered w-full text-white">
                      </div>
                      <div class="modal-action space-x-4">
                        <label for="bulk-auth-modal" class="btn">Cancel</label>
                        <label for="bulk-auth-modal" class="btn btn-primary">Done</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider divider-horizontal"></div>
                <div class="add-camera">
                  <label
                    for="add-camera-modal"
                    class="cursor-pointer text-blue-400">
                    Add RTSP / RTMP
                  </label>
                  <input type="checkbox" id="add-camera-modal" class="modal-toggle">
                  <div class="modal modal-middle">
                    <div class="modal-box max-w-2xl">
                      <h3 class="font-bold text-lg text-white">Add RTSP / RTMP</h3>
                      <div class="py-4 space-y-4">
                        <div class="flex items-center justify-between space-x-4">
                          <div class="form-control w-9/12">
                            <label class="label">
                              <span class="label-text">IP Address</span>
                            </label>
                            <input
                              type="text"
                              placeholder="IP Address"
                              class="input input-bordered w-full text-white"
                              v-model="form.ip">
                          </div>
                          <div class="form-control w-3/12">
                            <label class="label">
                              <span class="label-text">Port</span>
                            </label>
                            <input
                              type="text"
                              placeholder="Port"
                              class="input input-bordered w-full text-white"
                              v-model="form.port">
                          </div>
                        </div>
                        <div class="flex items-center justify-between space-x-4">
                          <div class="form-control w-6/12">
                            <label class="label">
                              <span class="label-text">Username</span>
                            </label>
                            <input
                              type="text"
                              placeholder="Username"
                              class="input input-bordered w-full text-white"
                              v-model="form.username">
                          </div>
                          <div class="form-control w-6/12">
                            <label class="label">
                              <span class="label-text">Password</span>
                            </label>
                            <input
                              type="password"
                              placeholder="Password"
                              class="input input-bordered w-full text-white"
                              v-model="form.password">
                          </div>
                        </div>
                        <div class="flex flex-row w-full">
                          <select
                            class="select prefix-select text-white rounded-r-none flex-0"
                            v-model="form.protocol"
                          >
                            <option
                              v-for="(item, index) in listProtocol"
                              :key="index"
                              :value="item">{{item}}</option>
                          </select>
                          <input
                            :style="{background: '#191d24', color: '#fff', 'padding-left': '0px'}"
                            disabled
                            type="text"
                            :value="link"
                            placeholder="username:password@xxx.xxx.xxx.xxx:554/example/1"
                            class="input input-bordered text-white flex-1 rounded-none border-0">
                          <input
                            type="text"
                            v-model="fragment"
                            placeholder="channel/1"
                            class="input input-bordered text-white rounded-l-none border-l-0">
                        </div>
                        <button
                        v-on:click="testConnection"
                          class="btn btn-neutral w-full capitalize">Test connection</button>
                        <div class="review w-full rounded-lg flex justify-center items-center relative">
                          <img v-if="!testLoading && !testOK" :src="noConnectionIcon" alt="no connection">
                          <progress v-if="testLoading" class="progress w-56"></progress>
                          <div v-if="testOK && !testLoading" class="absolute left-0 bottom-0 w-full full-link py-2 px-4 flex items-center">
                            <p class="text-white">{{fullLink}} <span class="text-green-600 text-base">✓</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-action space-x-4">
                        <label for="add-camera-modal" class="btn">Cancel</label>
                        <label for="add-camera-modal" class="btn btn-primary">Add</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider divider-horizontal"></div>
                <p class="cursor-pointer text-blue-400">Select all</p>
              </div>
            </div>
            <div class="camera-list space-y-4 overflow-auto" :style="{'max-height': '500px'}">
              <div v-for="(item,index) in cameraList" class="grid grid-cols-3 gap-4 camera-item cursor-pointer">
                <div class="bg-zinc-300 flex flex-row items-center justify-center img rounded-lg">
                  <img :src="padlockIconUrl" alt="padlock">
                </div>
                <div class="col-span-2">
                  <div class="flex flex-col justify-center h-full">
                    <p class="ip font-semibold text-base mb-2">{{item.ip}}</p>
                    <div class="name">
                      <span>{{item.mac}}</span> -
                      <span>{{item.vendor.company ?? '.'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center right-0 bottom-0 px-4 pb-2">
          <p class="m-0 underline text-blue-400 cursor-pointer" v-on:click="backStep">Back</p>
          <button class="btn w-36 btn-primary" :disabled="loading" v-on:click="nextStep">
            Next
          </button>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="status-summarize">
      <div class="h-full flex flex-col justify-between items-center">
        <div></div>
        <p class="text-5xl">✓ Almost Done</p>
        <div class="px-4 pb-2 flex flex-row w-full justify-between items-center">
          <p class="m-0 underline text-blue-400 cursor-pointer" v-on:click="backStep">Back</p>
          <button class="btn btn-wide btn-primary" v-on:click="nextStep">
            Go to dashboard
          </button>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="home">
      <div class="min-h-screen bg-white">
        <!-- Navbar -->
        <div class="navbar bg-base-100" :style="{'border-bottom': '1px solid #262b35'}">
          <div class="navbar-start">
            <div class="dropdown">
              <label tabindex="0" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
              </label>
              <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a>Homepage</a></li>
                <li><a>Portfolio</a></li>
                <li><a>About</a></li>
              </ul>
            </div>
          </div>
          <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl">Viact Home</a>
          </div>
          <div class="navbar-end">
            <button class="btn btn-ghost btn-circle">
              <div class="indicator">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
                <span class="badge badge-xs badge-primary indicator-item"></span>
              </div>
            </button>
            <div class="dropdown dropdown-end">
              <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                  <img src="https://api.lorem.space/image/face?hash=33791" />
                </div>
              </label>
              <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                <li>
                  <a class="justify-between">
                    Profile
                    <span class="badge">New</span>
                  </a>
                </li>
                <li><a>Settings</a></li>
                <li v-on:click="clearSettingDone"><a>Clear Setting Step</a></li>
                <li v-on:click="logout"><a>Logout</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Stats -->
        <div class="flex justify-center items-center mt-6">
          <div class="stats shadow">
            <div class="stat">
              <div class="stat-figure text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
              </div>
              <div class="stat-title">Total Likes</div>
              <div class="stat-value text-primary">25.6K</div>
              <div class="stat-desc">21% more than last month</div>
            </div>

            <div class="stat">
              <div class="stat-figure text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
              </div>
              <div class="stat-title">Page Views</div>
              <div class="stat-value text-secondary">2.6M</div>
              <div class="stat-desc">21% more than last month</div>
            </div>

            <div class="stat">
              <div class="stat-figure text-secondary">
                <div class="avatar online">
                  <div class="w-16 rounded-full">
                    <img src="https://api.lorem.space/image/face?w=128&h=128" />
                  </div>
                </div>
              </div>
              <div class="stat-value">86%</div>
              <div class="stat-title">Tasks done</div>
              <div class="stat-desc text-secondary">31 tasks remaining</div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- =============================== RENDERED CONTAINER ===== -->
    <div id="app">
      <router-view> </router-view>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./renderer.js"></script>
  </body>
</html>
